:root {
	--color-white: #fafafa;
}

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	margin: 0;
}

.content {
	align-items: center;
	background-image: url("./images/background.jpg");
	background-position: -300px;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 24px;
	width: 100%;
}

.daily {
	display: flex;
	width: 100%;
	justify-content: space-between;
	color: var(--color-white);
	margin-bottom: 24px;
}

.daily_stats {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.current_temperature {
	font-size: 2.5rem;
	font-weight: 800;
}

.air_details {
	display: flex;
	margin-bottom: 8px;
}

.air_icon img {
	height: 30px;
}

.search {
	height: 30%;
	width: 75%;
	border: 1px solid white;
	display: flex;
	align-items: center;
	justify-content: center;
}

input {
	width: 100%;
	height: 30px;
}

button {
	height: 50px;
	width: 100px;
	border-radius: 15px;
}
