:root {
	--color-white: #fafafa;
}

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	margin: 0;
}

.content {
	align-items: center;
	background-image: url("./images/background.jpg");
	background-position: -300px;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 24px;
	width: 100%;
}

.daily {
	display: flex;
	width: 100%;
	justify-content: space-between;
	color: var(--color-white);
	margin-bottom: 8px;
}

.daily_stats {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.current_temperature {
	font-size: 2.5rem;
	font-weight: 800;
}

.current_location {
	font-weight: 800;
}

.current_time,
.current_conditions {
	font-size: 0.9rem;
}

.current_icon img {
	height: 65px;
}

.AQI {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.air_details {
	align-items: center;
	display: flex;
	margin-bottom: 8px;
}

.air_icon img {
	height: 25px;
	margin-right: 8px;
}

.air_caption {
	font-size: 0.75rem;
}

.air_text {
	font-size: 0.9rem;
	font-weight: 800;
}

.search {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.search_input {
	align-items: center;
	border: 3px solid var(--color-white);
	border-radius: 15px;
	display: flex;
	margin-top: 16px;
	padding: 8px;
}

.search_input input {
	background: none;
	border: none;
	color: var(--color-white);
	font-size: 1rem;
	height: 1.5rem;
	outline: none;
}

.search_input img {
	height: 30px;
}

::placeholder {
	color: var(--color-white);
	font-size: 1rem;
}

.temperature_buttons {
	display: flex;
}

input {
	height: 30px;
	width: 100%;
}

button {
	border-radius: 15px;
	height: 25px;
	width: 100px;
}
